<p>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
        <span><a routerLink="/home">HOME</a></span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        </mat-toolbar-row>
    </mat-toolbar>
</p>
<div style="position: relative;">
    <div class="container" [@newPage]="gestioneProfiloService.isOpen ? 'open' : 'closed'">
        <router-outlet></router-outlet>
    </div>
</div>

