<h2>{{movieDetails.Title}}</h2>
<p><img [src]="movieDetails.Poster" alt=""></p>
<p>Year: {{movieDetails.Year}}</p>
<p>Runtime: {{movieDetails.Runtime}}</p>
<p>Released: {{movieDetails.Released}}</p>
<p>Genre: {{movieDetails.Genre}}</p>
<p>Directors: {{movieDetails.Director}}</p>
<p>Actors: {{movieDetails.Actors}}</p>
<p>Plot: {{movieDetails.Plot}}</p>
<p>Awards: {{movieDetails.Awards}}</p>
<p>BoxOffice: {{movieDetails.BoxOffice}}</p>
<button (click)="pageAnimation('/lista-film')">Indietro</button>